body{
  margin: 0;
  font-family: initial;
}
section{
  float: left;
  margin: 5px 0;
}
footer{
  clear: both;
  margin: 0;
  height: 60px;
  background-color: rgb(40, 67, 141);
}
footer a{
  position: relative;
  left: 500px;
  top: 20px;
  color: rgb(255, 255, 255);
}


.header{
  background-color: rgb(40, 67, 141);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.829);
}
.navbar h2{
  position: relative;
  left: 40px;
  color: rgb(253, 253, 255);
  font-size: 20pt;
}
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;  
}
.navbar li {
  position: relative;
  left: 50%;
  right: 0;
}
.navbar a{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 160, 189);
}
.navbar a:hover{
  color: rgb(255, 255, 255);
}

/*beranda*/
.sambutan{
  float: left;
  margin-right: 25px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 300px;
  height: 450px;
  background: rgba(40, 67, 141, 0.288);
  border-radius: 15px; 
}
.sambutan h1{
  position: relative;
  left: 60px;
  top: 30px;
  color: rgb(0, 25, 95);
}
.sambutan .kalimat{
  position: relative;
  margin: 50px 20px 20px 20px;
  color: rgb(40, 67, 141);
}
.isi_beranda{
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 800px;
  height: 650px;
  background: rgba(40, 67, 141, 0.288);
  border-radius: 15px; 
}
.isi_beranda h1{
  position: relative;
  left: 30px;
  top: 10px;
  font-size: 15pt;
  color: rgb(0, 25, 95);
}
.isi_beranda .kalimat{
  position: relative;
  margin: 50px 20px 20px 20px;
  color: rgb(40, 67, 141);
}
.img img{
  float: left;
  margin-left: 20px;  
  margin-right: 40px;
  width: 100px;
  border-radius: 100px;  
}

/*Profile*/
.img-profile img{
  position: relative;
  left: 35%;
  top: 35px;
  width: 200px;
  height: 200px;
  border-radius: 100px;  
}
.form_profile{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-right: 25px;
  margin-left: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 700px;
  height: 800px;
  background: rgba(40, 67, 141, 0.288);
  border-radius: 15px; 
}
.form_profile h1{
  position: relative;
  left: 36%;
  width: 200px;
  color: rgb(40, 67, 141);
  font-size: 24pt;
}
.form_profile .keterangan{
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 70px auto;
  height: 360px;
  width: 500px;
  border: 4px solid rgb(40, 67, 141);
  border-radius: 10px;
}
.form_profile .sub-keterangan{
  background-color: rgb(0, 160, 189);
}
.form_profile h3{
  color: rgb(0, 160, 189);
  margin-top: 36px;
  background-color: rgb(40, 67, 141);
}
.form_profile p{
  margin-top: -20px;
  font-size: 14pt;
  color: white;
}

/*Kegiatan*/
.form_kampus{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-right: 25px;
  margin-left: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 700px;
  height: 1750px;
  background: rgba(40, 67, 141, 0.288);
  border-radius: 15px; 
}
.form_kampus h1{
  position: relative;
  text-align: center;
  left: 20%;
  width: 400px;
  color: rgb(0, 0, 0);
  font-size: 24pt;
}
.form_kampus p{
  color: rgb(40, 67, 141);
}
.img-kampus img{
  position: relative;
  top: 35px;
  width: 700px;
  height: 450px;
  border-radius: 20px;  
  margin-bottom: 60px;
}

/*Kegiatan*/
.form_kota{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-right: 25px;
  margin-left: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 700px;
  height: 1650px;
  background: rgba(40, 67, 141, 0.288);
  border-radius: 15px; 
}
.form_kota h1{
  position: relative;
  text-align: center;
  left: 20%;
  width: 400px;
  color: rgb(0, 0, 0);
  font-size: 24pt;
}
.form_kota p{
  color: rgb(40, 67, 141);
}
.img-kota img{
  position: relative;
  left: 35%;
  top: 35px;
  width: 200px;
  height: 240px;
  border-radius: 20px;  
  margin-bottom: 60px;
}
.img-kota-img2 img{
  position: relative;
  left: 20%;
  top: 35px;
  width: 400px;
  height: 240px;
  border-radius: 20px;  
  margin-bottom: 60px;
}